body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #C5DDEB;
    color: #F7F7FC;
}

nav {
    background-color: #f7f7fc;
}

.navbar_text {
    color: #8c9eff;
}

.top_topic {
    margin-top: 25%;
}

.top_topic_span {
    background-color: #EDEDF9;
    color: #8c9eff;
}

.search {
    margin-top: 10%;
}

.search_btn {
    background-color: #EDEDF9;
    color: #8c9eff;
}

.row_two {
    height: 100px;
} 

.scroll_left {
    background-color: white;
    border-radius: 20px;
    color: #94abb9;
}

.scroll_left h4 {
    text-align: center;
}

.scroll_list {
    border-radius: 20px;
    color: #94abb9;
    text-align: center;
    overflow-y: auto;
    height: 500px;
}

.scroll_list a:hover {
    background-color: #94abb9;
}

.scroll {
    background-color: white;
    border-radius: 20px;
    padding: 30px 30px 20px;
    overflow-y: auto;
    height: 500px;
    color: #94abb9;
}