body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #4C4A62;
    color: #F7F7FC;
}

nav {
    background-color: #f7f7fc;
}

.navbar_text {
    color: #8c9eff;
}

.top_topic {
    margin-top: 10%;
}

.top_topic_span {
    background-color: #EDEDF9;
    color: #8c9eff;
}

.search {
    margin-top: 10%;
}

.search_btn {
    background-color: #EDEDF9;
    color: #8c9eff;
}

.box {
    /* background-color: white; */
    height: 380px;
    color: #F7F7FC;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    /* box-shadow : 0 15px 20px 0 rgba(0,0,0,0.5); */
    box-shadow: 15px 15px 5px white;
    margin-top: 5%;
}

.button {
    width: 50px;
    position: relative;
    width: auto;
    display: inline-block;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #c5cae9;
    background: #c5cae9;
    text-align: center;
    padding: 16px 18px 14px;
    margin: 12px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 0px 6px 0px #9499b7;
    -moz-box-shadow: 0px 6px 0px #9499b7;
    box-shadow: 0px 6px 0px #9499b7;
}

.button:active {
    -webkit-box-shadow: 0px 2px 0px #c5cae9;
    -moz-box-shadow: 0px 2px 0px #c5cae9;
    box-shadow: 0px 2px 0px #c5cae9;
    position: relative;
    top: 4px;
}

.button:hover {
    color: white;
}